body {
    padding-top: 8em;
    background-image: url(/static/background.jpg);
    background-size: cover;
}

.center {
    text-align: center;
}



#suivant {
    margin: 0 auto;
    display: block;
    bottom:20px;
}



.bordure {
    position: relative;
    border: 1px solid darkslateblue;
    border-radius: 4px;
    text-align: center;
    margin: 40px;
    padding:50px;
    background-color: #ffe7b8;
    word-wrap: break-word;
}

#modifier {
    position: absolute;
    bottom: 0;
    color: black;
    left: 48%;
}

#comm {
    position: absolute;
    bottom: 0;
    left: 52%;
    color: black;
}


h3 {
    text-align: center;
    color: white;
}

#groupe {
    border: 2px solid #0f05ff;
    border-radius: 6px;
    background-color: #e8e6ff;
    padding: 40px;
    margin: 40px;
}

#bordure_noire {
    border: 1px solid black;
    background-color: #f8f4ff;
}

