{% extends 'layout.html' %}


{% block body %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class= "center">Entreprise</th>
      <th scope="col" class= "center">Score Organisation</th>
      <th scope="col" class= "center">Score Technique</th>
      <th scope="col" class= "center">Score total</th>
      <th scope="col" class= "center">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for entreprise in entreprise_liste %}
    <tr>
      <th scope="row"><a href="{{ url_for("reponses_formulaire", id_entreprise = entreprise[0]) }}"> {{ entreprise[1] }} </a></th>
      <td>{{ entreprise[2] }}</td>
      <td>{{ entreprise[3] }}</td>
      <td>{{ entreprise[4] }}</td>
      <td>{{ entreprise[5] }}</td>
        <td id = "centrer_cellule"><a href="{{ url_for("delete_formulaire", id_entreprise = entreprise[0]) }}"><i class="fas fa-trash-alt"></i></a> <a href="{{ url_for("page_formulaire", id_entreprise = entreprise[0]) }}"><i class="fas fa-edit"></i></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>




{% endblock %}
