{% block body %}

    <h3>Gouvernance : </h3>

    <form action="{{ url_for("add_gouvernance",id_entreprise=id_entreprise) }}" method="post">

    {% for k in range(1,7) %}
        <p>Question{{ k }}</p>
        <div>
            <input type="radio" id="0" name="q{{ k }}" value=0 checked>
            <label for="0">0</label>
        </div>
        {% for i in range(1,11) %}
            <div>
                <input type="radio" id="{{ i }}" name="q{{ k }}" value={{ i }}>
                <label for="{{ i }}">{{ i }}</label>
            </div>
        {% endfor %}
    {% endfor %}

        <button class="btn btn-primary" type="submit">Suivant</button>

    </form>

{% endblock %}