{% extends 'layout.html' %}

{% block body %}

    <h3>Processus et procédures :</h3>

    <form id="reponses" action="{{ url_for("add_processus_procedures",id_entreprise=id_entreprise) }}" method="post"></form>

    {% for k in range(1,7) %}
        <div class="bordure">
            <p>{{ questions[k-1] }}</p>

            <!-- Button trigger modal -->
            <a data-toggle="modal" href="#question{{ k }}Modal" id="modifier"><i class="far fa-edit"></i></a>
            <!-- Modal -->
            <form id="modal" action="{{ url_for("modifier_questions_processus_procedures",id_entreprise=id_entreprise) }}" method="post"></form>
            <div class="modal fade" id="question{{ k }}Modal" tabindex="-1" role="dialog" aria-labelledby="question{{ k }}ModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="question{{ k }}ModalLabel">Modifier la question {{ k }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                      <label for="q{{ k }}"></label>
                      <textarea id="q{{ k }}" name = 'q{{ k }}'  rows="5" cols="60" form="modal">{{ questions[k-1] }}</textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="modal">Modifier</button>
                  </div>

                </div>
              </div>
            </div>
            {% if scores is not defined %}
                <div class="form-check form-check-inline">
                    <input class="form-check form-check-inline" type="radio" id="0" name="s{{ k }}" value=0 form="reponses" checked>
                    <label for="0">0</label>
                </div>
                {% for i in range(1,11) %}
                    <div class="form-check form-check-inline">
                        <input class="form-check form-check-inline" type="radio" id="{{ i }}" name="s{{ k }}" form="reponses" value={{ i }}>
                        <label for="{{ i }}">{{ i }}</label>
                    </div>
                {% endfor %}
            {% else %}
                {% for i in range(0,11) %}
                    {% if i == scores[k-1] %}
                        <div class="form-check form-check-inline">
                            <input class="form-check form-check-inline" type="radio" id="{{ i }}" name="s{{ k }}" form="reponses" value={{ i }} checked>
                            <label for="{{ i }}">{{ i }}</label>
                        </div>
                    {% else %}
                        <div class="form-check form-check-inline">
                            <input class="form-check form-check-inline" type="radio" id="{{ i }}" name="s{{ k }}" form="reponses" value={{ i }}>
                            <label for="{{ i }}">{{ i }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <p>
              <a id="comm" data-toggle="collapse" href="#comm{{ k }}" aria-expanded="false" aria-controls="collapseExample">
                <i class="far fa-comments"></i>
              </a>
            </p>
            <form id="commentaire" action="{{ url_for("modifier_commentaires_processus_procedures", id_entreprise=id_entreprise) }}" method="post"></form>
            <div class="collapse" id="comm{{ k }}">
                <div class="card card-body">
                    <label for="comm{{ k }}"></label>
                    <textarea id="comm{{ k }}" name = 'c{{ k }}'  rows="2" cols="30" form="commentaire">{{ commentaires[k-1] }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary" form="commentaire">Ajouter</button>
            </div>

        </div>
    {% endfor %}

        <button id="suivant" class="btn btn-primary" type="submit" form="reponses">Suivant</button>

{% endblock %}