{% extends 'layout.html' %}

{% block body %}

    <div style="  background-image: url(/static/background.jpg);background-size: cover;">
    <button onclick="window.location.href = '{{ url_for("new_entreprise") }}';"
            style="width: 40em; height: 8em; position: absolute; top: 40%; left:27%;" class="btn btn-info">
        <i style="font-size: 2em;" class="far fa-play-circle"></i>
        <span style="font-size: 2em;">Démarrer le formulaire </span>
    </button>


    <a style="position: absolute; bottom: 20px; left: 0" href="{{ url_for("comparaison") }}"> Liste des formulaires finis</a>
    <a style="position: absolute; bottom: 0; left: 0" href="{{ url_for("formulaires_non_finis") }}"> Liste des formulaires en cours</a>
    </div>

{% endblock %}


