{% extends 'layout.html' %}


{% block body %}
    <div id="groupe">

        <h4 style="text-align: center; text-decoration: underline">Choisir les entreprises à comparer :</h4>


        <form action="{{ url_for("filtrer_entreprises", id_entreprise=id_entreprise) }}" method="post" id="filtrer_entreprises">

        <div id="menu_deroulant_secteur">
            <label for="filtreSecteur">Filtrer par secteur :</label>
            <select class="form-control" id="filtreSecteur" name="secteur">
                <option>Tous les secteurs...</option>
                {% for secteur in secteurs %}
                    {% if secteur_selec is defined and secteur_selec == secteur %}
                        <option selected>{{ secteur }}</option>
                    {% else %}
                        <option>{{ secteur }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        </form>
        <button type="submit" class="btn btn-primary" id="btn_choix" form="choix_entreprises" style="position: absolute; right: 40px; top:100px">Envoyer</button>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th id="bordure_noire" scope="col"></th>
              <th id="bordure_noire" scope="col" class= "center">Entreprise</th>
              <th id="bordure_noire" scope="col" class= "center">Secteur</th>
              <th id="bordure_noire" scope="col" class= "center">Nombre d'employés</th>
              <th id="bordure_noire" scope="col" class= "center">Score total</th>
{#              <th id="bordure_noire" scope="col"></th>#}
            </tr>
          </thead>
          <tbody>
          <form action="{{ url_for("choix_entreprises", id_entreprise=id_entreprise) }}" method="post" id="choix_entreprises">
              {% for id in ids_toutes_entreprises %}
                  <input type="hidden" id="{{ id }}_input_hidden" name="{{ id }}" value="">
              {% endfor %}
          </form>
          {% for entreprise in entreprise_liste %}
            <tr>
              <td id="bordure_noire"> <input class="center" type="checkbox" value="{{ entreprise[0] }}" id="checkbox{{ entreprise[0] }}">
                  <label class="form-check-label" for="checkbox{{ entreprise[0] }}">
                  </label>
              </td>
              <td id="bordure_noire" style="font-style: italic;">{{ entreprise[1] }}</td>
              <td id="bordure_noire">{{ entreprise[2] }}</td>
              <td id="bordure_noire">{{ entreprise[3] }}</td>
              <td id="bordure_noire">{{ entreprise[4] }}</td>
{#              <td id="bordure_noire" class="center"><a href="{{ url_for("delete_formulaire", id_entreprise = entreprise[0]) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce questionnaire ?')">#}
{#                  <i class="fas fa-trash-alt"></i></a></td>#}
            </tr>
          {% endfor %}
          </tbody>
        </table>

    </div>

<script type="text/javascript">

    $(document).ready(function(){

        $("#filtreSecteur").on('change',function () {
            $("#filtrer_entreprises").submit();
        });

        {% for id in ids_toutes_entreprises %}
            if(localStorage.getItem("checkbox{{ id }}") === 'true') {
                $("#checkbox{{ id }}").prop('checked',true);
                $("#{{ id }}_input_hidden").val("valide");

            }
            else {
                $("#checkbox{{ id }}").prop('checked',false);
            }

        {% endfor %}


        var count = localStorage.getItem('count');
        {% for id in ids_toutes_entreprises %}
            $("#checkbox{{ id }}").on('change', function() {

                localStorage.setItem("checkbox{{ id }}",  $("#checkbox{{ id }}").prop('checked'));

                if($("#checkbox{{ id }}").prop('checked')) {
                    if(localStorage.getItem('count') === null) {
                        $("#{{ id }}_input_hidden").val("valide");
                        count = count+1;
                        localStorage.setItem('count',count);

                    }
                    else {
                        $("#{{ id }}_input_hidden").val("valide");
                        count = parseInt(count)+1;
                        localStorage.setItem('count',count);
                    }


                }
                else {
                    $("#{{ id }}_input_hidden").val("");
                    count = parseInt(count)-1;
                    localStorage.setItem('count',count);
                }

                if(localStorage.getItem('count')>3) {
                    $("#checkbox{{ id }}").prop('checked',false);
                    count = parseInt(count)-1;
                    localStorage.setItem('count',count);
                    localStorage.setItem("checkbox{{ id }}",'false');
                    $("#{{ id }}_input_hidden").val("");

                    alert('Vous pouvez choisir au maximum 3 entreprises');
                }
            });
        {% endfor %}

        $("#choix_entreprises").submit(function () {
           localStorage.clear();
        });

    });

</script>

{% endblock %}
